{% extends "core/base.html" %}

{% block title %}
System Administrator Dashboard | AjiraSafe
{% endblock %}

{% block content %}

<section class="auth-page">

    <div class="auth-container">

        <div class="auth-card">

            <div class="auth-header">

                <p class="section-label">AJIRASAFE</p>

                <h1>System Administrator Dashboard</h1>

                <p>
                    Welcome to the System Administrator dashboard.
                </p>

            </div>

        </div>

    </div>

</section>

{% endblock %}